.spacer {
    height: 30px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mt-5 {
    margin-top: 5px;
}

.ft-small {
    font-size: 0.6rem;
}

.p-10 {
    padding: 10px;
}

.pl-0 {
    padding-left: 0px;
}

.title-vc {
    display: flex;
    align-items: center;
    gap: 8px;
}

.hidden {
    display: none;
}

.clickable {
    -webkit-app-region: no-drag;
    cursor: pointer;
    /* 下划线 */
    text-decoration: underline;
}

.clickable.is-busy {
    pointer-events: none;
    cursor: wait;
    opacity: .55;
}